.content {
    box-sizing: border-box;
    padding: 20px;
}

.sort-area {
    margin-bottom: 20px;
}

.card {     
    display: block;
    max-width: 220px;
}

.drop-down {
    margin-right: 15px;
}

.spacer {
    flex: 1 1 auto;
}